@media screen and (min-width: 900px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
    }
    body{
        color: #fff;
        background-color: #000;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2.4rem;
    }
    h3{
        font-size: 1.4rem;
    }
    .container{
        max-width: 1166px;
        margin: 0 auto;
    }
    header{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
    }
    header .logo{
        width: 20%;
    }
    header .logo img{
        width: 100%;
    }
    header ul{
        padding-left: 0;
    }
    header ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
    }
    header ul li a{
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
    }
    .banner{
        height: 100vh;
        background: url(../img/banner-1.webp) no-repeat;
        background-position: top;
        background-size: cover;
        display: flex;
        align-items: flex-end;
    }
    .banner .text{
        text-align: center;
        padding-bottom: 100px;
    }
    .banner h1{
        line-height: 80px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .btn{
        display: inline-block;
        position: relative;
        width: 250px;
        height: 60px;
        background-color: #fff;
        color: #000;
        text-transform: capitalize;
        text-decoration: none;
        text-align: center;
        line-height: 60px;
        z-index: 9;
        margin-top: 50px;
        transition: all 0.5s ease;
    }
    .btn::before{
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 100%;
        background-color: #000;
        color: #fff;
        opacity: 0.9;
        z-index: -1;
        transition: all 0.5s ease;
    }
    .btn:hover{
    color: #fff;
    }
    .btn:hover::before{
        left: 0;
        width:  100%;
    }
    
    .banner-logo{
        padding: 30px 0;
    }
    .banner-logo-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .banner-logo-inner .item{
        width: 15%;
    }
    .banner-logo-inner .item img{
        width: 100%;
        filter: brightness(0.3);
    }
    .banner-logo-inner .item img:hover{
        filter: brightness(1);
    }
    
    .sec1{
        position: relative;
        padding: 80px 0;
    }
    .sec1 h3{
        text-transform: capitalize;
        line-height: 40px;
    }
    .sec1 p{
        line-height: 32px;
    }
    .sec1-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sec1 .text{
        width: 47%;
    }
    .sec1 .text-left{
        text-align: right;
    }
    .sec1 .text-right{
        text-align: left;
    }
    .sec1::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, transparent, #fff, transparent);
    }
    .sec1::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, transparent, #fff, transparent);
    }
    
    .sec2{
        padding: 100px 0 0;
    }
    .sec2 h2{
        text-transform: capitalize;
        border-left: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left bottom, transparent, #fff, transparent);
        border-bottom: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left bottom, transparent, #fff, transparent);
        padding: 0 0 20px 20px;
        
    }
    .sec2 p{
        line-height: 30px;
    }
    .sec2-inner{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec2-inner .img{
        width: auto;
    }
    .sec2-inner .text{
        width: 50%;
        margin-left: -65px;
        z-index: 9;
    }
    .sec2 .text-inner{
        position: relative;
        margin: 55px 0 0 190px;
    }
    .sec2 .text-inner::before{
        content: '';
        position: absolute;
        top: 8px;
        left:-30px;
        width: 1px;
        height: 100%;
        background: linear-gradient(to top, transparent, #fff);
    }
    .left-right-sec:nth-child(even) .text{
        margin-right: -65px;
        text-align: right;
    }
    .left-right-sec:nth-child(even) h2{
        border-right: 2px solid;
        border-left: none;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right bottom, transparent, #fff, transparent);
        padding: 0 20px 20px 0;
    }
    .left-right-sec:nth-child(even) .text-inner{
        margin: 55px 190px 0 0;
    }
    .left-right-sec:nth-child(even) .text-inner::before{
        left: inherit;
        right: -30px;
    }
    
    
    .sec3{
        padding: 150px 0 0;
    }
    .sec3 h2{
        text-transform: capitalize;
        max-width: 60%;
    }
    .sec3-slider{
        margin-top: 90px;
    }
    .sec3-slider .item{
        width: 40%;
        margin: 0 0.2%;
    }
    .sec3-slider .item img{
        width: 100%;
    }
    .slick-arrow{
        position: absolute;
        top: -160px
    }
    .slick-prev{
        left: inherit;
        right: 180px;
    }
    .slick-next{
        right: 90px;
    }
    
    .slick-prev::before, .slick-next::before{
        content: '>';
        position: absolute;
        font-size: 30px;
        color: #000;
        font-weight: bold;
        top:-34%;
        left: -6%;
        background: #fff;
        width: 70px;
        height: 70px;
        line-height: 70px;
        border: 1px solid #fff;
        opacity: 1;
    }
    .slick-prev::before{
        content: '<';
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        background: #000;
    
    }
    .sec4{
        padding: 100px 0;
    }
    .sec4 h2{
        text-transform: capitalize;
    }
    .sec4-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 90px;
    }
    .sec4-boxes .img{
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: all ease 1s;
    }
    .box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        min-height: 270px;
        border: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right bottom, transparent, #fff, transparent);
        margin-bottom: 40px;
        overflow: hidden;
    }
    .box h6{
        font-size: 1.2em;
        font-weight: 400;
    }
    .box img{
        width: 100%;
        height: 100%;
    }
    .box:hover .img{
        opacity: 1;
    }
    footer{
        position: relative;
        padding: 50px 0;
    }
    .footer-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-inner .col{
        padding-right: 50px;
        width: 25%;
        text-align: center;
    }
    .footer-inner .col img{
        width: 100%;
    }
    footer ul{
        margin-left: 0;
    }
    footer ul li{
        list-style: none;
        margin-bottom: 30px;
    }
    footer ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 1em;
    }
    footer::before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left,  transparent, #fff, transparent);
    }
    footer::after{
        content: '';
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left,  transparent, #fff, transparent);
    }
    
    .copyright{
        padding: 25px 0;
        text-align: center;
        text-transform: capitalize;
    }
    .copyright p{
        font-size: 16px;
    }
    .copyright p span{
        color: red;
        font-size: 18px;
    }
    
  }